.benefits {
   padding-block: clamp(60px, 2.016rem + 8.67vw, 120px);
}
.benefits__grid {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   gap: 20px;

   @include tablet() {
      // grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
      grid-template-columns: repeat(2, 1fr);
      gap: clamp(30px, 1.008rem + 4.34vw, 60px) 20px;
   }
   @include mobile() {
      grid-template-columns: 1fr;
   }
}
.benefits__title {
   max-width: 260px;

   @include tablet() {
      display: flex;
      align-items: center;
   }
}

