.info-hint {
   position: absolute;
   top: -26px;
   left: 50%;
   transform: translate(-50%, -100%);

   display: flex;
   gap: 8px;
   justify-content: center;
   padding-top: 12px;   

   background-image: url('./../img/icons/hint.svg');
   width: 112px;
   height: 56px;
}
.info-hint__radio {
   clip: rect(0 0 0 0);
   clip-path: inset(50%);
   position: absolute;
   z-index: -1;
   width: 1px;
   height: 1px;
   white-space: nowrap;
   overflow: hidden; 
   
}

.info-hint__radio:checked + .info-hint__radio-fake {
   background-image: url('./../img/icons/checkbox.svg');
}

.info-hint__radio-fake {
   background-repeat: no-repeat;
   background-position: center center;

   width: 24px;
   height: 24px;
   flex-shrink: 0;

   background-color: gray;
   box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.10);
   border: 2px solid #FFF;
   border-radius: 50%;

   &--orange {
      background-color: var(--ui-orange);
   }
   &--biruza {
      background-color: var(--ui-biruza);
   }
   &--gray {
      background-color: var(--ui-gray);
   }
}