.sub-nav {
   display: grid;
   gap: 16px;

   padding: 20px;
   background-color: var(--footer-bg);
   border-radius: 16px;

   font-size: 16px;
   color: var(--footer-text-color);
   a{
      color: var(--footer-text-color);
      transition: color 0.1s ease-in;
      &:hover {
         color: var(--footer-accent);
      }
   }
}