.mobile-tab-controls {
   flex-direction: column;
   padding: 0;
   border-radius: 0;
   border-top-right-radius: 44px;
   border-top-left-radius: 44px;
   
}

.mobile-tab-controls__btn {
   display: block;
   width: 290px;
   border-radius: 0;
}

.mobile-product__tabs__header{
   font-size: 24px;
   font-weight: 500;
   margin-bottom: 16px;
}
.tabs-controls-to-dropdown {
   transition: height 0.1s ease;
   overflow: hidden;
   height: 225px;

   margin-top: 45px;

   position: absolute;
   z-index: 3;

   background: #EEE;
   border-bottom-right-radius: 44px;
   border-bottom-left-radius: 44px;
}